  body{
    background-image: "./backgroud.jpg";
  }
  .AuthWrapper {
    flex-direction: column;
  }
  
  .AuthHeading {
    margin: 75px 10px 30px 10px;
    font-size: 1.8rem;
    text-align: center;
  }
  
  .AuthListWrapper {
    width: 100%;
    overflow: auto;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  
  .AuthList {
    width: 1100px;
    height: 465px;
    margin: 0 10px;
  }
  
  .AuthDiv {
    flex-direction: column;
    justify-content: space-between;
    background: #f6f7f8;
    width: 350px;
    height: 100%;
    border-radius: 0.5rem;
  }
  
  .AuthDiv:nth-of-type(2) {
    margin: 0 20px;
  }
  
  .Auth {
    font-size: 1.5rem;
    padding: 30px 50px 30px 40px;
    font-weight: 500;
  }
  
  .AuthDescription {
    padding: 0 50px 25px 40px;
  }
  
  .AuthImg {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  .Btn {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background: #3b757f;
    padding: 15px;
    width: 360px;
    border-radius: 1rem;
    outline-style: none;
    border: none;
    margin: 50px;
    cursor: pointer;
  }
  .Btn:hover {
    background: #3b757f;
  }
  
  @media (max-width: 1100px) {
    .AuthListWrapper {
      justify-content: flex-start;
    }
  }
  
  @media (max-width: 900px) {
    .AuthHeading {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 550px) {
    .AuthDiv:nth-of-type(2) {
      margin: 0 10px;
    }
  
    .AuthDiv {
      width: 300px;
    }
  
    .pBtn {
      width: 90%;
    }
  }
  