.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 30px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 15px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

#zero-state {
  margin: 2rem auto;
  text-align: center;
  color: #3b757f;
}

#zero-state a {
  color: inherit;
}

#zero-state a:hover {
  color: #121212;
}

#zero-state:before {
  display: -webkit-box;
  margin-bottom: 1rem ;
  content: url('C:\Users\hp\Downloads\CollabArt-master\CollabArt-master\Frontend\public\logo.png');
}

#zero-links {
  margin: 2rem auto;
  text-align: center;
  color: #3f3f17ba;
}

#zero-links a {
  color: #3f3f17ba;
} 
#zero-links a:hover {
  color: #000000;
}

.link-primary {
  cursor: pointer;
  color: #3b757f;
  text-decoration-line: underline;
}

.dFlex, nav, nav ul, .Courses, .Courses .card, .Courses .card .card_header, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  justify-content: space-between;
  width: 100%;
  color: white;
}
nav .logo {
  font-size: 30px;
  text-transform: uppercase;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li {
  font-size: 14px;
  margin-Left: 15px;
  padding: 10px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
}
.Courses {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.Courses h3 {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 10.5vw;
}
.Courses .card {
  width: 30%;
  border-radius: 15px;
  position: relative;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
  background-color: #b9d0ca;
}
.Courses .card .card_img {
  margin-top: 5vw;
}
.Courses .card .card_img img {
  width: 200px;
}
.Courses .card .card_header {
  flex-direction: column;
  color: white;
  margin: 25px 0;
}
.Courses .card .card_header h2 {
  font-size: 30px;
  color: #836d65;
}
.Courses .card .card_header p {
  font-size: 18px;
  text-align: center;
  color: #91827d;
  margin: 8px 0;
}
.Courses .card .card_header .price {
  font-size: 25px;
  color: cadetblue;
}
.Courses .card .card_header .price span {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}
.Courses .card:hover {
  background-color: #7cc7b8;
  transform: scale(1.0);
  cursor: pointer;
}
.Courses .card:hover .btn {
  background-color: burlywood;
  color: white;
}

.btn {
  padding: 0.7rem 1.1rem;
  border-radius: 50px;
  background: #3b757f;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 0.2rem;
  cursor: pointer;
  outline-style: none;
  border-style: none;
}