.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

#zero-state {
  margin: 2rem auto;
  text-align: center;
  color: #3b757f;
}

#zero-state a {
  color: inherit;
}

#zero-state a:hover {
  color: #121212;
}

#zero-state:before {
  display: -webkit-box;
  margin-bottom: 1rem ;
  content: url('C:\Users\hp\Downloads\CollabArt-master\CollabArt-master\Frontend\public\logo.png');
}

#zero-links {
  margin: 2rem auto;
  text-align: center;
  color: #3f3f17ba;
}

#zero-links a {
  color: #3f3f17ba;
} 
#zero-links a:hover {
  color: #000000;
}

.link-primary {
  cursor: pointer;
}

.dFlex, nav, nav ul, .MyCourses, .MyCourses .card, .MyCourses .card .card_header, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  justify-content: space-between;
  width: 100%;
  color: white;
}
nav .logo {
  font-size: 30px;
  text-transform: uppercase;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li {
  font-size: 14px;
  margin-Left: 15px;
  padding: 10px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
}

.btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #3b757f;
  color: #f0f4f5;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  overflow: hidden;
}